{# shell-top is the whole menu #}
<div class="shell-top">
  {# drop down domain menu #}
  <div class="f-l">
    <section class="user top-section__item--separated">
      <button class="btn top-section__item__link button__shadow" href="index.html">
        <i class="fa fa-caret-down fa-lg" style="margin: 0px 0px 0px 12px;"></i>
        <span id="siteurl">
          <span id="siteurlred"> Account.</span>SoftwareONE<span id="siteurlgray">.com  </span>
        </span>
      </button>
      <div class="domain-drop">
        <ul class="">
          <li class="">
            <a class="btn btn-light" href="index_account.html" role="button">
              <span id="siteurl">
                <span id="siteurlred">Account.</span>SoftwareONE<span id="siteurlgray">.com</span></a>
              <i class="fa fa-check-circle" style="margin: 0px 0px 0px 6px;"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-light" href="index_assets.html" role="button">
              <span id="siteurl">
                <span>Assets.</span>SoftwareONE<span id="siteurlgray">.com</span></a>
            </a>
          </li>
          <li>
            <a class="btn btn-light" href="home.html" role="button">
              <span id="siteurl">
                <span>Cloud.</span>SoftwareONE<span id="siteurlgray">.com</span></a>
            </a>
          </li>

          <li class="">
            <a class="btn btn-light" href="index.html" role="button">
              <span id="siteurl">
                <span>Marketplace.</span>SoftwareONE<span id="siteurlgray">.com</span>
              </a>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="shell-user f-l" class="shell-notifications top-section__item" style="padding-left: 5%;">
    <section class="user top-section__item--separated">
      <div class="input-group mb-3 input-main w-100">
        <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
      </div>
    </section>
  </div>

  <div class="section__item__buttons">
    <div class="shell-user" class="top-section__item">
      <section class="user">
        <a class="button__shadow">
          <span class="material-icons f-l mt-10" id="user_image">account_circle</span>
          <span class="f-l">Reto Mayor<br>
            <small>My Account</small>
          </span>
        </a>
        <div class="user-menu dropdown-menu-right">
          <ul class="user-menu-group">
            <li class="user-menu-group__item">
              <a href="my-profile.html">
                <span
                  class="material-icons">account_circle</span> My Account</a>
            </li>
            <li class="user-menu-group__item">
              <a href="favorites.html">
                <span
                  class="material-icons">list</span> My Lists</a>
            </li>
          </ul>
          <ul class="user-menu-group">
            <li class="user-menu-group__item">
              <a href="settings.html">
                <span class="material-icons">settings</span>
                Settings</a>
            </li>
            <li class="user-menu-group__item">
              <a href="help.html">
                <span class="material-icons">help_outline</span>
                Help</a>
            </li>
          </ul>
          <ul class="user-menu-group">
            <li class="user-menu-group__item">
              <a href="#">
                <span class="material-icons">logout</span> Log out</li>
            </ul>
          </div>
        </section>
      </div>

      <div class="shell-user" class="shell-notifications top-section__item">
        <section class="user top-section__item--separated">
          <a class="top-section__item__link button__shadow" href="notifications.html">
            <span class="material-icons">notifications_none</span>
          </a>
          <div class="user-menu dropdown-menu-right notifications">
            <h6 class="dropdown-header">Notifications</h6>
            <div class="dropdown-divider"></div>
            <ul class="user-menu-group">
              <li class="user-menu-group__item">
                <p>Tango-US subscription <b>Microsoft Exchange Online (Plan 1)</b> successfully provisioned.</p>
                <p>
                  <small>1h</small>
                </p>
              </li>
              <div class="dropdown-divider"></div>
              <li class="user-menu-group__item">
                <p>Paul O'Connor placed <b>Order OR106211</b> of 2 items for Tango-US.</p>
                <p>
                  <small>1h</small>
                </p>
              </li>
              <div class="dropdown-divider"></div>
              <li class="user-menu-group__item">
                <p>The domain tango.microsoft.com was added.</p>
                <p>
                  <small>1h</small>
                </p>
              </li>
              <div class="dropdown-divider"></div>
              <button class="mdc-button btn-block" onclick="location.href = 'notifications.html';">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">View All</span>
              </button>
            </ul>
          </div>
        </section>
      </div>

      <div class="shell-user" class="shell-notifications top-section__item">
        <section class="user top-section__item--separated">
          <a class="top-section__item__link button__shadow" href="shopping_cart.html">
            <span class="material-icons">shopping_cart</span>
          </a>
          <div class="user-menu dropdown-menu-right notifications">
            <h6 class="dropdown-header">Items 1</h6>
            <div class="dropdown-divider"></div>
            <ul class="user-menu-group">
              <li class="user-menu-group__item">
                <p>
                  <b>Microsoft 365 Business</b>
                </p>
                <p>
                  <small class="mr-15">Qty 1</small>
                  <small>16.50 USD</small>
                </p>
              </li>
              <div class="dropdown-divider"></div>
              <li class="user-menu-group__item w-100">
                <p class="w-100">Subtotal <b class="ta-r">16.50 USD</b>
                </p>
              </li>
              <div class="dropdown-divider"></div>
              <button class="mdc-button--outlined ml-15 mt-5" onclick="location.href = 'shopping_cart.html';">
                <a class="mdc-button__label">View Cart</a>
              </button>
              <button class="mdc-button--raised f-r mr-15 mt-5" onclick="location.href = 'checkout-address.html';">
                <a class="mdc-button__label">Checkout</a>
              </button>
            </ul>
          </div>
        </section>
      </div>

    </div>
    <div class="shell-top-second">
      <a class="btn btn-link menu" id="menu-button">
        <span class="material-icons f-l">menu</span>
        <p>Menu</p>
      </a>
      <a class="btn btn-link">Reserved Instances</a>
      <a class="btn btn-link">Managed Services</a>
      <a class="btn btn-link">Recommended</a>
      <a class="btn btn-link">Buy It Again</a>
      <a class="btn btn-link">Shopping Lists</a>
      <a class="btn btn-link">Customer Services</a>
    </div>

  </div>
</div>