<nav class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar" id="top-bar" >
  <div class="border ml-30 mr-30">
    <a class="btn btn-link" id="menu-button">
      <span class="material-icons f-l">menu</span>
    </a>
  </div>

  {# domain dropdown #}

  <div class="navbar-collapse collapse nav-content order-1 order-md-2 container">
    <ul class="navbar-nav dropdown" data-toggle="dropdown">
      <li class="nav-item dropdown" id="domain-drop" style="margin-bottom: 5px;">
        <button class="btn top-section__item__link button__shadow nav-link" href="#" >
        <i class="fa fa-caret-down fa-lg" style="margin: 3px 0px 0px 16px;"></i>
          <span id="siteurl">
            <span id="siteurlred">Cloud.</span>SoftwareONE<span id="siteurlgray">.com</span></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="domain-drop" style="padding: 12px; min-width: 320px;">
          <a class="btn btn-light" href="index_account.html" onclick="location.href = 'index_account.html';" role="button" style="margin-bottom: 12px;">
              Account.SoftwareONE<span id="siteurlgray">.com</span>
          </a>
          <a class="btn btn-light border" href="home.html" role="button" onclick="location.href = 'index_cloud.html';" style="margin-bottom: 12px;">
            <span id="siteurl">
              Cloud.SoftwareONE<span id="siteurlgray">.com
            </span>
              <i class="fa fa-check-circle" style="margin: 0px 0px 0px 6px;"></i>
          </a>
          <a class="btn btn-light" href="index_digital.html" onclick="location.href = 'index_digital.html';" role="button" style="margin-bottom: 12px;">
            <span id="siteurl">
              Digital.SoftwareONE<span id="siteurlgray">.com</span>
            </span>
          </a>
          <a class="btn btn-light" href="index.html" onclick="location.href = 'index.html';" role="button" >
            <span id="siteurl">
              Marketplace.SoftwareONE<span id="siteurlgray">.com</span>
            </span>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="ml-auto navbar-collapse collapse nav-content order-2 order-md-2 container mr-30">
    <div class="input-group mb-3 input-main w-100">
      <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
    </div>
  </div>

  {# user and notifications menu section #}

  <div class="flex-row ml-auto nav-content order-3 order-md-3 container">

    {# notifications #}

    <div class="navbar-nav ml-md-auto" href="notifications.html">
      <div class="user top-section__item--separated mt-10" >
        <div class="shell-user top-section__item">
          <button class="btn top-section__item__link">
            <span class="material-icons">notifications_none</span>
          </button>
        </div>

        <div class="user-menu dropdown-menu-right notifications">
          <h6 class="dropdown-header">Notifications</h6>
          <div class="dropdown-divider"></div>
          <ul class="user-menu-group">
            <li class="user-menu-group__item">
              <p>Tango-US subscription <b>Microsoft Exchange Online (Plan 1)</b> successfully provisioned.</p>
              <p>
                <small>1h</small>
              </p>
            </li>
            <div class="dropdown-divider"></div>
            <li class="user-menu-group__item">
              <p>Paul O'Connor placed <b>Order OR106211</b> of 2 items for Tango-US.</p>
              <p>
                <small>1h</small>
              </p>
            </li>
            <div class="dropdown-divider"></div>
            <li class="user-menu-group__item">
              <p>The domain tango.microsoft.com was added.</p>
              <p>
                <small>1h</small>
              </p>
            </li>
            <div class="dropdown-divider"></div>
            <button class="mdc-button btn-block" onclick="location.href = 'notifications.html';">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">View All</span>
            </button>
          </ul>
        </div>
      </div>
    </div>

    <div class="navbar-nav" href="shopping_cart.html" onclick="location.href = 'shopping_cart.html';">
      <div class="user top-section__item--separated mt-10" >
        <div class="shell-user top-section__item">
          <button class="btn top-section__item__link button_shadow">
            <span class="material-icons">shopping_cart</span>
          </button>
          <div class="user-menu dropdown-menu-right notifications">
            <h6 class="dropdown-header">Items 1</h6>
            <div class="dropdown-divider"></div>
            <ul class="user-menu-group">
              <li class="user-menu-group__item">
                <p>
                  <b>Microsoft 365 Business</b>
                </p>
                <p>
                  <small class="mr-15">Qty 1</small>
                  <small>16.50 USD</small>
                </p>
              </li>
              <div class="dropdown-divider"></div>
              <li class="user-menu-group__item w-100">
                <p class="w-100">Subtotal <b class="ta-r">16.50 USD</b>
                </p>
              </li>
              <div class="dropdown-divider"></div>
              <button class="mdc-button--outlined ml-15 mt-5" onclick="location.href = 'shopping_cart.html';">
                <a class="mdc-button__label">View Cart</a>
              </button>
              <button class="mdc-button--raised f-r mr-15 mt-5" onclick="location.href = 'checkout-address.html';">
                <a class="mdc-button__label">Checkout</a>
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {# user dropdown #}
    <ul class="navbar-nav" id="bd-versions">
      <li class="nav-item dropdown user">
        <button class="btn">
          <span class="material-icons f-l mt-10" id="user_image">account_circle</span>
          <span class="f-l mt-5" style="line-height: 14px;">Reto Mayor<br>
            <small class="f-l">My Account</small>
          </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
          <ul class="user-menu-group">
            <li class="user-menu-group__item">
              <a href="my-profile.html" onclick="location.href = 'my-profile.html';">
                <span
                  class="material-icons">account_circle</span> My Account</a>
            </li>
            <li class="user-menu-group__item">
              <a href="favorites.html">
                <span
                  class="material-icons">list</span> My Lists</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="user-menu-group__item">
              <a href="settings.html" onclick="location.href = 'settings.html';">
                <span class="material-icons">settings</span>
                Settings</a>
            </li>
            <li class="user-menu-group__item">
              <a href="help.html" onclick="location.href = 'help.html';">
                <span class="material-icons">help_outline</span>
                Help</a>
            </li>
          </ul>
          <ul class="user-menu-group">
            <li class="user-menu-group__item">
              <a href="#">
                <span class="material-icons">logout</span> Log out </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    {#  #}
  </div>
</nav>

{# second menu #}

<nav>
  <div class="shell-top-second">
    <a class="btn btn-link mr-10">Reserved Instances</a>
    <a class="btn btn-link">Managed Services</a>
    <a class="btn btn-link">Recommended</a>
    <a class="btn btn-link">Buy It Again</a>
    <a class="btn btn-link">Shopping Lists</a>
    <a class="btn btn-link">Customer Services</a>
  </div>
</nav>