<section class="user top-section__item--separated">
    <button class="btn top-section__item__link button__shadow" href="index.html">
        <i class="fa fa-caret-down fa-lg" style="margin: 0px 0px 0px 12px;"></i>
        <span id="siteurl">
            <span id="siteurlred"> Marketplace.</span>SoftwareONE<span id="siteurlgray">.com  </span></span>
    </button>
    <div class="domain-drop">
        <ul class="">
            <li>
                <a class="btn btn-light" href="index.html" role="button">
                    <span id="siteurl">
                        <span>Assets.</span>SoftwareONE<span id="siteurlgray">.com</span></a>
                </a>
            </li>
            <li>
                <a class="btn btn-light" href="home.html" role="button">
                    <span id="siteurl">
                        <span>Cloud.</span>SoftwareONE<span id="siteurlgray">.com</span></a>
                </a>
            </li>
            <li class="">
                <a class="btn btn-light" href="index.html" role="button">
                    <span id="siteurl">
                        <span>Manage.</span>SoftwareONE<span id="siteurlgray">.com</span></a>
                </a>
            </li>
            <li class="">
                <a class="btn btn-light" href="index.html" role="button">
                    <span id="siteurl">
                        <span>Marketplace.</span>SoftwareONE<span id="siteurlgray">.com</span>
                        <i class="fa fa-check-circle" style="margin: 0px 0px 0px 6px;"></i>
                    </a>
                </a>
            </li>
        </ul>
    </div>
</section>