{# this is a macro, it's a little snippet of reusable nunjucks.

Like a method that you can call: you can pass three parameters:
fa_icon, link and text. If you pass nothing, no problem default parameters.

{{ sub_menu( icon = 'business',
             link="index.html",
             text = "Hello Macro" ) }}  #}
{% macro sub_menu(icon = "business", link = '#', text = "User Management") %}

    <li class="main-menu__item" href="{{ link }}">
        <a class="main-menu-action" href="{{ link }}">
            <span class="material-icons">
                {{ icon }}</span>
            <span>
                {{ text }}
            </span>
        </a>
    </li>

{% endmacro %}

{% macro sub_menu_parent(icon = "business", link = '#', text = "User Management") %}

    <li class="main-menu__item" href="{{ link }}">
        <a class="main-menu-action" href="{{ link }}">
            <span class="material-icons">
                {{ icon }}</span>
            {{ text }}
            <span class="material-icons" style="padding-left: 10px"> chevron_right </span>
        </a>
    </li>

{% endmacro %}

{% macro menu_line_divider() %}

    <li class="main-menu__item main-menu-action line" style="width: 190px; height: 40px;"></li>

{% endmacro %}

{# menu macro ends here #}

<div class="shell-menu" id="side-menu" style="display: none;">
  <ul class="main-menu shell-menu-top">

    <li class="" href="#" id="closemenu">
      <a class="main-menu-action">
        <span class="material-icons"> close </span> Close
      </a>
    </li>

    {{ menu_line_divider() }}

    {# I call the macro above, it's a little cleaner to read. #}
    {{ sub_menu( icon = 'business',    link="index.html",  text = "Marketplace" ) }}
    {{ sub_menu( icon = 'description', link="orders.html", text = "Orders" )      }}
    {{ sub_menu( icon = 'local_offer', link="promotions.html", text = "Promotions" )  }}


    {{ menu_line_divider() }}

    {# I call the macro above, it's a little cleaner to read. #}
    {{ sub_menu( icon = 'inventory',    link="software.html",    text = "Software" )   }}
    {{ sub_menu( icon = 'content_copy', link="agreements.html",    text = "Agreements" ) }}
    {{ sub_menu( icon = 'download',     link="downloads.html", text = "Downloads" )  }}
    {{ sub_menu( icon = 'trending_up',  link="reports.html", text = "Reports" )    }}

     

  </ul>

</div>