

<div class="icon-menu" id="side-menu" style="display:none">

    <ul class="main-menu">


        <li class="main-menu__item main-menu-action" href="/workspace.html">
         <div class="row" id="workspace-switcher">
           <div class="col-md-2" >
           
              <span class="square-initials">CT</span>
              </div>
               <div class="col-md-7" style="    top: -7px;">

             
            
                <br/>

   
                  </div>
            
        </div>
     
      

        </li>

        <li class="main-menu__item main-menu-action line-sm" ></li>

           <li class="main-menu__item main-menu-action separator">
  
 </li>
        <li class="main-menu__item mb-3" >
            <a class="main-menu-action" href="allocate.html">
                <span class="material-icons">apps</span>
    
            </a>
        </li>



        <li class="main-menu__item mb-3" >
            <a class="main-menu-action" >
                <span class="material-icons">pie_chart</span>

 
            </a>
        </li>

        <li class="main-menu__item mb-3" >
            <a class="main-menu-action">
                <span class="material-icons">wrap_text</span>
 
            </a>
        </li>


   
         <li class="main-menu__item main-menu-action separator" style="padding-top:20px;">

 </li>
        <li class="main-menu__item mb-3" >
            <a class="main-menu-action">
                <span class="material-icons">bolt</span>
             
            </a>
        </li>

        <li class="main-menu__item mb-3">
            <a class="main-menu-action">
                <span class="material-icons">
dialpad</span>
               

            </a>
        </li>



<div style="position: absolute; bottom: 60px;">
<li class="main-menu__item main-menu-action line-sm"></li>
        <li class="main-menu__item"   style="padding-bottom: 16px;">
            <a class="main-menu-action" href="#" id="workspace-settings">
                <span class="material-icons">settings</span>
            

            </a>
        </li>

</div>


    </ul>

</div>