
{% macro sub_menu(icon = "business", link = '#', text = "User Management") %}

    <li class="main-menu__item" href="{{ link }}">
        <a class="main-menu-action" href="{{ link }}">
            <span class="material-icons">
                {{ icon }}</span>
            <span>
                {{ text }}
            </span>
        </a>
    </li>

{% endmacro %}

{% macro sub_menu_parent(icon = "business", link = '#', text = "User Management") %}

    <li class="main-menu__item" href="{{ link }}">
        <a class="main-menu-action" href="{{ link }}">
            <span class="material-icons">
                {{ icon }}</span>
            {{ text }}
            <span class="material-icons" style="padding-left: 10px"> chevron_right </span>
        </a>
    </li>

{% endmacro %}

{% macro menu_line_divider() %}

    <li class="main-menu__item main-menu-action line" style="width: 190px;padding:10px;"></li>

{% endmacro %}