<div class="card">
            <div class="row">
              <div class="card__standard">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Rule Name</h3>
                    <div class="gs-solid"></div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-sm-6">
                    <label for="basic-url"><span class="required">*</span> Add rule name</label>
                    <div style="border-radius: 8;0;0;8;" class="input-group">
                      <input type="text" id="txt_name" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <button class="btn-default-light mt-30">
                      <a class="mdc-button__label" id="finish_step1">Continue</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>