<div class="row">
  <div class="col-lg-12">

    <div class="row mt-30">
  
  <div class="col-lg-12">

            <button class="btn btn-primary float-right " id="createallocationrule"
          onclick="location.href='create_allocation_rule.html;">
      <a class="mdc-button__label">Create allocation rule</a>
    </button>
    </div>
   
    </div>
    <div class="table-responsive mt-15">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Rule name</th>
            <th scope="col">Created By</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Marketing Allocation</td>
            <td>
              <div class="row">

                <div class="col-sm-2">
                  <div class="circle profile-pic-3">
                  </div>
                </div>
                <div class="col-sm-4" style="top: 10px;    right: 10px;">
                  Reto Mayer
                </div>
            </td>
    </div>






    <td>
      <div class="dropdown">
        <button class="mdc-button" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="mdc-button__ripple"></div>
          <i class="material-icons mdc-button__icon" aria-hidden="true">more_horiz</i>


        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Edit</a>
          <a class="dropdown-item" href="#">Delete</a>

        </div>
      </div>
    </td>
    </tr>
    <tr>
      <td>EMEA Allocation</td>
      <td>cloud.softwareone.com</td>

      <td>

        <div class="dropdown">
          <button class="mdc-button" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="mdc-button__ripple"></div>
            <i class="material-icons mdc-button__icon" aria-hidden="true">more_horiz</i>


          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Delete</a>

          </div>
        </div>

        {# <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div> #}
  </div>
  </td>
  </tr>

  </tbody>
  </table>
</div>

</div>
</div>