<div class="card__standard">
    <div class="row">
        <div class="col-6">
            <label for="basic-url"><span class="required">*</span>Invite Teammates</label>
            <div class="input-group">
                <input type="text" id="txt_name" class="form-control" aria-describedby="basic-addon1">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <button class="btn-default-light mt-30 float-right">
                <a class="mdc-button__label" id="finish_step1">Continue</a>
            </button></div>
    </div>
</div>