<!-- Horizontal Steppers -->
<div class="row mb-0">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal stepper-four">

      <!-- First Step -->
      <li class="active">
        <a href="checkout-address.html" class="">
          <span class="circle">1</span>
          <span class="label">Address</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Third Step -->
      <li class="active">
        <a href="checkout-items.html" class="">
          <span class="circle">2</span>
          <span class="label">Items</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Forth Step -->
      <li class="active">
        <a href="checkout-payment.html" class="">
          <span class="circle">3</span>
          <span class="label">Pay</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Fifth Step -->
      <li class="active">
        <a href="checkout-review.html" class="">
          <span class="circle">4</span>
          <span class="label">Review</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
  <div class="col-md-3">

  </div>
</div>
<!-- /.Horizontal Steppers -->
<br>
<div class="row">
  <div class="col-lg-9">
    <div class="p-15">
      <h4 class="mb-30">Review and Pay</h4>
      <div class="row">
        <div class="col-lg-12">
          <div class="well__plain mb-30">
            <div class="row">
              <div class="col-sm-4">
                <h5 class="mb-5"><b>Address</b></h5>
                <p>AdAstraflex North America</p>
                <p>100 Lincoln Avenue</p>
                <p>New York 1015</p>
                <p>USA</p>
                <a class="btn btn-link mt-5" href="checkout-address.html">Edit</a>
              </div>
              <div class="col-sm-4">
                <h5 class="mb-5"><b>Payment</b></h5>
                <p>Bank of ireland</p>
                <p>Checking •••• 1071</p>
                <a class="btn btn-link mt-15" href="checkout-payment.html">Edit</a>
                <p class="mt-15 mb-5"><b>Attach document</b><br><small>Maximum upload size 6GB</small></p>
                <div class="form-group">
                  <button class="mdc-button--outlined mb-10" onclick="location.href = 'create-order-tenant.html';">
                    <a class="mdc-button__label">Select Files</a>
                  </button>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- /.Horizontal Steppers -->
                <label for="basic-url mb-5">Reference</label>
                <div class="input-group mb-30">
                  <input type="text" class="form-control" aria-describedby="basic-addon1">
                </div>
                <div class="form-group">
                  <label for="comment">Special Instructions</label>
                  <textarea class="form-control" rows="2" id="comment" placeholder=""></textarea>
                </div>
              </div>
            </div>
          </div>
          <h4 class="mb-15">Items <a class="btn btn-link" href="checkout-items.html">Edit</a></h4>
          <table class="mdc-data-table__table" aria-label="Dessert calories">
            <thead>
              <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
                <th class="mdc-data-table__header-cell  customWidthClassQuantity ta-c" role="columnheader" scope="col">
                  Qty
                </th>
                <th class="mdc-data-table__header-cell  customWidthClassQuantity mdc-data-table__header-cell--numeric"
                  role="columnheader" scope="col">Price</th>
                <th class="mdc-data-table__header-cell  customWidthClassQuantity mdc-data-table__header-cell--numeric"
                  role="columnheader" scope="col">Total</th>
              </tr>
            </thead>
            <tbody class="mdc-data-table__content">
              <tr class="mdc-data-table__row" id="item-exchange-add">
                <td class="mdc-data-table__cell ">
                  <p><b>Microsoft 365 Business</b><br><small>61795cab-2abd-43f6-88e9-c9adae5746e0</small></p>
                </td>
                <td class="mdc-data-table__cell   mdc-data-table__header-cell--numerisc">
                  <p class="ta-c">1</p>
                </td>
                <td class="mdc-data-table__cell   mdc-data-table__header-cell--numeric">16.50 USD</td>
                <td class="mdc-data-table__cell   mdc-data-table__header-cell--numeric">16.50 USD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="well-plain-shadow">
      <h4>Subtotal (1 item):<br><b>16.50 USD</b></h4>
      <hr class="mt-15 mb-15">
      <form class="mt-15">
        <div class="form-group">
          <label for="staticEmail" class="form-label">Summary</label>
          <input type="text" readonly="" class="form-control-plaintext" id="staticEmail"
            value="1 x Microsoft 365 Business">
        </div>
      </form>
      <button class="mdc-button--raised btn-block mt-0" onclick="location.href = 'index.html';">
        <a class="mdc-button__label">Pay Now</a>
      </button>
    </div>
  </div>
</div>