<!-- Horizontal Steppers -->
<div class="row mb-15">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal stepper-four">

      <!-- First Step -->
      <li class="active">
        <a href="checkout-address.html" class="">
          <span class="circle">1</span>
          <span class="label">Address</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Third Step -->
      <li class="inactive">
        <a href="#!" class="">
          <span class="circle">2</span>
          <span class="label">Items</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Forth Step -->
      <li class="inactive">
        <a href="#!" class="">
          <span class="circle">3</span>
          <span class="label">Pay</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Fifth Step -->
      <li class="inactive">
        <a href="#!" class="">
          <span class="circle">4</span>
          <span class="label">Review</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
  <div class="col-md-3">

  </div>
</div>
<!-- /.Horizontal Steppers -->



<div class="row">
  <div class="col-sm-12">
    <div class="card__standard">
      <h4 class="mb-30">Select a sell-to address</h4>
      <h4 class=""><b>Most recently used</b></h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="well__plain mt-30">
            <h5><b>AdAstraflex North America</b></h5>
            <p>100 Lincoln Avenue</p>
            <p>New York 1015</p>
            <p>USA</p>
            <a class="btn btn-link" href="#">Add delivery contact details</a>
            <br><br>
            <button class="mdc-button--raised btn-block mt-0 mt-15" onclick="location.href = 'checkout-payment.html';">
              <a class="mdc-button__label">Select address</a>
            </button>
            <button class="mdc-button--outlined btn-block mt-15" onclick="location.href = 'checkout-payment.html';">
              <a class="mdc-button__label">Edit</a>
            </button>
          </div>
        </div>
      </div>
      <br>
      <h4 class="mt-30"><b>Other addresses</b></h4>
      <div class="row mt-15">
        <div class="col-sm-6">
          <div class="input-group mb-3 input-lg f-l">
            <input type="text" class="form-control" placeholder="Search Addresses" aria-label="search" aria-describedby="basic-addon2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well__plain mt-30">
            <h5><b>AdAstraflex North America</b></h5>
            <p>100 Lincoln Avenue</p>
            <p>New York 1015</p>
            <p>USA</p>
            <a class="btn btn-link" href="#">Add delivery contact details</a>
            <br><br>
            <button class="mdc-button--raised btn-block mt-0 mt-15" href="#">
              <a class="mdc-button__label">Select address</a>
            </button>
            <button class="mdc-button--outlined btn-block mt-15" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Edit</a>
            </button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well__plain mt-30">
            <h5><b>AdAstraflex North America</b></h5>
            <p>100 Lincoln Avenue</p>
            <p>New York 1015</p>
            <p>USA</p>
            <a class="btn btn-link" href="#">Add delivery contact details</a>
            <br><br>
            <button class="mdc-button--raised btn-block mt-0 mt-15" href="#">
              <a class="mdc-button__label">Select address</a>
            </button>
            <button class="mdc-button--outlined btn-block mt-30" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Edit</a>
            </button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well__plain mt-30">
            <h5><b>AdAstraflex North America</b></h5>
            <p>100 Lincoln Avenue</p>
            <p>New York 1015</p>
            <p>USA</p>
            <a class="btn btn-link" href="#">Add delivery contact details</a>
            <br><br>
            <button class="mdc-button--raised btn-block mt-0 mt-15" href="#">
              <a class="mdc-button__label">Select address</a>
            </button>
            <button class="mdc-button--outlined btn-block mt-20" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Edit</a>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well__plain mt-30">
            <h5><b>AdAstraflex North America</b></h5>
            <p>100 Lincoln Avenue</p>
            <p>New York 1015</p>
            <p>USA</p>
            <a class="btn btn-link" href="#">Add delivery contact details</a>
            <br><br>
            <button class="mdc-button--raised btn-block mt-0 mt-15" href="#">
              <a class="mdc-button__label">Select address</a>
            </button>
            <button class="mdc-button--outlined btn-block mt-15" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Edit</a>
            </button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well__plain mt-30">
            <h5><b>AdAstraflex North America</b></h5>
            <p>100 Lincoln Avenue</p>
            <p>New York 1015</p>
            <p>USA</p>
            <a class="btn btn-link" href="#">Add delivery contact details</a>
            <br><br>
            <button class="mdc-button--raised btn-block mt-0 mt-15" href="#">
              <a class="mdc-button__label">Select address</a>
            </button>
            <button class="mdc-button--outlined btn-block mt-30" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Edit</a>
            </button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well__plain mt-30">
            <h5><b>AdAstraflex North America</b></h5>
            <p>100 Lincoln Avenue</p>
            <p>New York 1015</p>
            <p>USA</p>
            <a class="btn btn-link" href="#">Add delivery contact details</a>
            <br><br>
            <button class="mdc-button--raised btn-block mt-0 mt-15" href="#">
              <a class="mdc-button__label">Select address</a>
            </button>
            <button class="mdc-button--outlined btn-block mt-20" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Edit</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>