<div class="card__standard credit_cards">  
  <p> 2 payment methods added</p>
  <div class="row mt-30">
    <div class="col-sm-6">
      <div class="well__plain">
        <div class="">
          <div class="well f-l"><span class="material-icons">account_balance</span></div>
          <h4 class="pl-15">Bank of ireland</h4>
          <p><small>Checking •••• 1071</small></p>
          <hr>
          <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Edit</span>
          </button>
          <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Delete</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well__plain">
        <div class="">
          <img src="images/visa.png" class="">
          <h4 class="pl-15">Visa •••• 1071</h4>
          <p><small>Expires 06/23</small></p>
          <hr>
          <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Edit</span>
          </button>
          <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-sm-6">
      <div class="well-button">
        <button class="mdc-button">
          <div class="mdc-button__ripple"></div>
          <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
          <span class="mdc-button__label">Add payment method</span>
        </button>
      </div>
    </div>
  </div>
</div>
