<div class="empty-state">
  <div class="row">
    <div class="col-md-12 ta-c">
      <span class="material-icons icon">sync_alt</span>
      <h4 class="mb-0 lonely-text">No tenants added yet</h4>
      <p><small>Add a tenant to start selling products to this Customer.</small></p>
      <br>
      <button class="mdc-button--outlined" id="add-new-tenant-state" onclick="show_form()">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Add Tenant</span>
      </button>
    </div>
  </div>
</div>