<div class="card__standard">
  <h5 class="card__standard_headline">Customer Details</h5>
  <hr class="form-dividier">
  <div class="row">
    <div class="col-sm">
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">First Name</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Last Name</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-md" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Email</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-md" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Phone</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br><br>
      <h5 class="card__standard_headline">Company Details</h5>
      <hr class="form-dividier">
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-md" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Company Name</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-md" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Country</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-lg" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Address Line 1</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-lg" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Address Line 2</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">City</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">State</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
      <br>
      <label class="mdc-text-field mdc-text-field--outlined">
        <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Zip Code</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
      </label>
    </div>
  </div>
  <div class="mdc-form-field">
    <div class="mdc-checkbox">
      <input type="checkbox" class="mdc-checkbox__native-control" onclick="billing_details()" checked />
      <div class="mdc-checkbox__background">
        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
          <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
        </svg>
        <div class="mdc-checkbox__mixedmark"></div>
      </div>
      <div class="mdc-checkbox__ripple"></div>
    </div>
    <label for="checkbox-1">Use as billing address</label>
  </div>
  <br>
  <div id="billing-details" style="display: none;">
    <h5 class="card__standard_headline mt-30">Billing Details</h5>
    <hr class="form-dividier">
    <label class="mdc-text-field mdc-text-field--outlined">
      <input type="text" class="mdc-text-field__input input-md" aria-labelledby="my-label-id">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">Company Name</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </label>
    <br>
    <label class="mdc-text-field mdc-text-field--outlined">
      <input type="text" class="mdc-text-field__input input-md" aria-labelledby="my-label-id">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">Country</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </label>
    <br>
    <label class="mdc-text-field mdc-text-field--outlined">
      <input type="text" class="mdc-text-field__input input-lg" aria-labelledby="my-label-id">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">Address Line 1</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </label>
    <br>
    <label class="mdc-text-field mdc-text-field--outlined">
      <input type="text" class="mdc-text-field__input input-lg" aria-labelledby="my-label-id">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">Address Line 2</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </label>
    <br>
    <label class="mdc-text-field mdc-text-field--outlined">
      <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">City</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </label>
    <label class="mdc-text-field mdc-text-field--outlined">
      <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">State</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </label><br>
    <label class="mdc-text-field mdc-text-field--outlined">
      <input type="text" class="mdc-text-field__input input-sm" aria-labelledby="my-label-id">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">Zip Code</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </label>
  </div>
  <br>
  <button class="mdc-button--raised mt-30 mb-30">
    <a class="mdc-button__label" href="customer-profile-setup-1.html">Add Customer</a>
  </button>

  <h5 class="card__standard_headline">Other Style</h5>
  <hr class="form-dividier">
  <!-- Disclaimer -->
  <div class="required mb-30">* Required fields</div>

  <!-- Basic -->
  <label for="basic-url mb-15"><span class="required">*</span> Title</label>
  <div class="input-group mb-15 w-50">
    <input type="text" class="form-control" aria-describedby="basic-addon1">
  </div>

  <!-- Textarea -->
  <div class="form-group w-50">
    <label for="comment"><span class="required">*</span> Description</label>
    <textarea class="form-control" rows="5" id="comment" placeholder="Type your description here..."></textarea>
  </div>

  <!-- Username -->
  <label for="basic-url mb-15">Username</label>
  <div class="input-group mb-15 w-25">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1">
  </div>

  <!-- Amount -->
  <label for="basic-url mb-15">Amount</label>
  <div class="input-group mb-15 w-120px">
    <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2">USD</span>
  </div>

  <!-- Url -->
  <label for="basic-url mb-15">URL</label>
  <div class="input-group w-50 mb-15">
    <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>

  <!-- Toggle  -->
  <div class="mt-30 mb-15">
    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </div>

  <!-- Radio Large -->
  <label for="basic-url">Radio Boxes</label>
  <div class="row radio-boxes">
    <div class="col-md-3">
      <div class="well-plain">
        <div class="radio">
          <label><input type="radio" name="optradio">Option 2</label>
          <p>Explain what this option does so it is clear to the user.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well-plain selected">
        <div class="radio">
          <label><input type="radio" name="optradio" checked>Selected Option 2</label>
          <p>Explain what this option does so it is clear to the user.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well-plain">
        <div class="radio">
          <label><input type="radio" name="optradio">Option 2</label>
          <p>Explain what this option does so it is clear to the user.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well-plain">
        <div class="radio">
          <label><input type="radio" name="optradio">Option 2</label>
          <p>Explain what this option does so it is clear to the user.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Provider -->
  <div class="form-group w-25 mt-15">
    <label for="sel1">Provider</label>
    <select class="form-control" id="sel1" placeholder="-Any-">
      <option selected value="" class="placeholder">-Any-</option>
      <option value="1">AWS</option>
      <option value="2">Azure</option>
      <option value="3">Office 365</option>
    </select>
  </div>

  <!-- Attachments -->
  <div class="form-group w-25 mb-30">
    <label for="exampleInputFile">Attachments</label>
    <div class="upload-files">
      <button type="button" class="btn btn-primary"><i class="fa fa-upload"></i> Select Files...</button>
    </div>
    <h6>Maxiumum upload size is 6GB<h6>
  </div>

  <!-- Button -->
  <button type="button" class="btn btn-primary mr-15"><i class="fa fa-plus-circle"></i> Add New Item</button>
  <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>

</div>