<div class="card__standard">

      <div class="row ">
            <div class="col-md-12">

                  <div href="#">
                        <div class="row" style="margin-bottom:40px;">
                              <div class="row col-sm-9" style="margin-right: 40px;">    
                                    <div class="gs_azure-logo" style="margin-left: 0px; margin-right: 16px;">
                                    </div>
                                    <div><h4><b>Start-Non-Prod Mongob env at 9am weekdays</b></h4>
                                    <p><b>Azure -</b> Ran 1 months ago</p></div>
                              </div>
                              <div class="row col-sm-3">
                                    <div class="row col-sm-5" style="align-self:center; margin-top:10px;"><div style="margin-right:4px">On</div><div> <label class="switch"><input type="checkbox" checked=""><span class="slider round"></span></label></div></div>
                                    <div class="col-sm-4" style="align-self:center"><button class="btn btn-primary " data-toggle="modal" data-target="#create-rule"><a class="mdc-button__label" >Edit</a> </button></div>
                                    <div class="col-sm" style="align-self:center"><span class="material-icons">more_vert</span></div>
                                    
                              </div>
                        </div>
                  </div>


                  <div class="row">
                        <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                              <div class="icons-actions"></div>
                              <div>
                                    <p style="font-size: 16px;"> <b>Pre-bold, Sandbox 1 </b>
                                          <p> Sydeney (ap-southeast-2) <p>
                              </div>
                        </div>

                        <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                              <div class="icons-actions-2">
                              </div>
                              <div>
                                    <p style="font-size: 16px;"> <b>Pre-bold, Sandbox 1 </b>
                                          <p> Sydeney (ap-southeast-2) <p>
                              </div>
                        </div>


                        <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                              <div class="icons-actions-3">
                              </div>
                              <div>
                                    <p style="font-size: 16px;"> <b>Pre-bold, Sandbox 1 </b>
                                          <p> Sydeney (ap-southeast-2) <p>

                              </div>
                        </div>
                  </div>

                  <div class="gs-solid">
                  </div>

                  <div class="row" style="margin-top:20px;">
                        <div style="display:flex">
                              <div>
                                    <p> <b> Labels </b> </p>
                              </div>
                              <div class="gs-chips"> Gbd </div>
                              <div class="gs-chips"> Access Control </div>
                        </div>

                  </div>
            </div>
      </div>
</div>







<div class="card__standard">

      <div class="row" style="top: -40px;position: relative;">
            <div class="col-md-12" style="padding-left: 0px;">

                  <div class="col-md-12" style="padding-left: 0px;">
                        
<ul class="nav nav-tabs new-tabs slider-tabs" id="tabs" role="tablist" style="left: -20px;">
           
                  <li class="nav-item">
                      <a class="nav-link active show" id="executions-tab" data-toggle="tab" href="#executions" role="tab" aria-controls="executions" aria-selected="true">Executions</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="false">Config</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="changelogs-tab" data-toggle="tab" href="#changelogs" role="tab" aria-controls="changelogs" aria-selected="false">Changelogs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="savings-tab" data-toggle="tab" href="#savings" role="tab" aria-controls="savings" aria-selected="false">Savings</a>
                  </li>
                   <div class="indicator"></div>
              </ul>

             


                        <div class="tab-content">
                              <div class="tab-pane active" id="executions" role="tabpanel"
                                    aria-labelledby="executions-tab">

                                    <div class="well-plain-less" style="padding:20px 14px;" href="#">
                                          <div class="row">

                                                <div class="col-sm-1 align-self-center"
                                                      style="max-width: 2%; padding-left:0px;">
                                                      <div class="gs-oval">
                                                      </div>
                                                </div>
                                                <div class="col-sm-10">
                                                      <p style="font-size: 16px;"><b>313. Upcoming</b></p>
                                                      <p style="font-size: 14px;"> Executing in 3hrs, 2mins</p>
                                                </div>

                                                <div class="col-sm-1 align-self-center gs-col-list-custom3">
                                                      <span class="material-icons">
                                                            keyboard_arrow_right
                                                      </span>
                                                </div>

                                          </div>
                                    </div>

                                    <div class="well-plain-less" style="padding:20px 14px;" href="#">
                                          <div class="row">

                                                <div class="col-sm-1 align-self-center"
                                                      style="max-width: 2%; padding-left:0px;">
                                                      <div class="gs-oval" style="background-color: ffab6e;">
                                                      </div>
                                                </div>
                                                <div class="col-sm-10">
                                                      <p style="font-size: 16px;"><b>312. In progress</b></p>
                                                      <p style="font-size: 14px;"> Running</p>
                                                </div>

                                                <div class="col-sm-1 align-self-center gs-col-list-custom3">
                                                      <span class="material-icons">
                                                            keyboard_arrow_right
                                                      </span>
                                                </div>

                                          </div>
                                    </div>



                              </div>

                              <div class="tab-pane" id="config" role="tabpanel" aria-labelledby="config-tab">

                                    <div id="config-list">
                                          <ul class="gs-list">
                                                <li style="font-size:16px; font-weight: bold;">Context</li>
                                                <li><b>Platform: </b> Azure </li>
                                                <li><b>Subscriptions IDs:</b> All </li>
                                                <li><b>Accounts IDs: </b> 2236678ewr </li>
                                          </ul>
                                    </div>

                                    <div id="config-list">
                                          <ul id="config-list" class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Trigger</li>
                                                <li><b>Name: </b> AWS Subscription Event </li>
                                                <li><b>Microsoft Teams:</b> - </li>
                                                <li><b>Slack App: </b> - </li>
                                                <li><b>Email: </b> - </li>
                                                <li><b>Slack: </b> - </li>
                                                <li><b>Match Fields: </b> {"eventName":["Start machines in the
                                                      morning"]} </li>
                                          </ul>
                                    </div>

                                    <div id="config-list">
                                          <ul id="config-list" class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Actions</li>
                                                <li><b>Name: </b> Start machines in the morning for AWS </li>
                                                <li><b>Microsoft Teams:</b> - </li>
                                                <li><b>Slack App: </b> - </li>
                                                <li><b>Email: </b> - </li>
                                                <li><b>Slack: </b> - </li>
                                                <li><b>Notification Field Mappings: </b>
                                                      {"mappingold":["c5d0d9f6-aa..."]} </li>
                                          </ul>
                                    </div>

                                    <div id="config-list">
                                          <ul id="config-list" class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Timestamps</li>
                                                <li><b>Created at: </b> Sep 3, 2021 06:22 AM </li>
                                                <li><b>Updated at:</b> Sep 4, 2021 15:12 AM </li>
                                          </ul>
                                    </div>

                                    <div id="config-list">
                                          <ul id="config-list" class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Status</li>
                                                <li><b>Enabled: </b> True </li>

                                          </ul>
                                    </div>

                              </div>

                              <div class="tab-pane" id="changelogs" role="tabpanel" aria-labelledby="changelogs-tab">

                                    <div class="mt-15">
                                          <table class="gs-table">
                                                <tbody>
                                                      <tr>
                                                            <td>
                                                                  <div class="row">

                                                                        <div class="col-sm-1 align-self-center"
                                                                              style="max-width: 2%; padding-left:0px;">
                                                                              <div class="gs-oval">
                                                                              </div>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                              <p style="font-size: 16px;"><b>Updated</b>
                                                                              </p>
                                                                              <p style="font-size: 14px;"> 10 Hours ago
                                                                              </p>
                                                                        </div>

                                                                        <div
                                                                              class="col-sm-1 align-self-center gs-col-list-custom3">
                                                                        </div>

                                                                  </div>
                                                            </td>
                                                            <td></td>

                                                            <td>
                                                                  <div class="row">

                                                                        <div class="col-sm-2">
                                                                              <div class="circle profile-pic-3">
                                                                              </div>
                                                                        </div>
                                                                        <div class="col-sm-4"
                                                                              style="top: 10px;    right: 10px;">
                                                                              Reto Mayer
                                                                        </div>
                                                                  </div>
                                                            </td>

                                                      </tr>

                                                       <tr>
                                                            <td>
                                                                  <div class="row">

                                                                        <div class="col-sm-1 align-self-center"
                                                                              style="max-width: 2%; padding-left:0px;">
                                                                              <div class="gs-oval" style="background-color: 86cea1">
                                                                              </div>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                              <p style="font-size: 16px;"><b>Created</b>
                                                                              </p>
                                                                              <p style="font-size: 14px;"> 9 Hours ago
                                                                              </p>
                                                                        </div>

                                                                        <div
                                                                              class="col-sm-1 align-self-center gs-col-list-custom3">
                                                                        </div>

                                                                  </div>
                                                            </td><td></td>

                                                            <td>
                                                                  <div class="row">

                                                                        <div class="col-sm-2">
                                                                              <div class="circle profile-pic-2">
                                                                              </div>
                                                                        </div>
                                                                        <div class="col-sm-4"
                                                                              style="top: 10px;    right: 10px;">
                                                                              Juan Ayala
                                                                        </div>
                                                                  </div>
                                                            </td>

                                                      </tr>

                                                </tbody>
                                          </table>
                                    </div>



                              </div>

                              <div class="tab-pane" id="savings" role="tabpanel" aria-labelledby="savings-tab"> 
                                    
                                    <div class="chartsavings"> </div>
                              </div>


                        </div>
                  </div>

            </div>



      </div>

</div>
</div>