<div class="card__standard">

      <div class="row ">
            <div class="col-md-12">

                  <div href="#">
                        <div class="row" style="margin-bottom:40px;">
                              <div class="row col-sm-9" style="margin-right: 40px;">    
                                    <div class="gs_aws-logo" style="margin-left: 0px; margin-right: 16px;">
                                    </div>
                                    <div><h4><b>Pause machines in the morning</b></h4>
                                    <p><b>AWS -</b> Ran 1 minute ago</p></div>
                              </div>
                              <div class="row col-sm-3">
                                    <div class="row col-sm-5" style="align-self:center; margin-top:10px;"><div style="margin-right:4px">On</div><div> <label class="switch"><input type="checkbox" checked=""><span class="slider round"></span></label></div></div>
                                    <div class="col-sm-4" style="align-self:center"><button class="btn btn-primary" onclick="window.location.href='create-rule.html'"><a class="mdc-button__label" >Edit</a> </button></div>
                                    <div class="col-sm" style="align-self:center"><span class="material-icons">more_vert</span></div>
                                    
                              </div>
                        </div>
                  </div>


                  <div class="row">
                        <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                              <div class="icons-actions"></div>
                              <div>
                                    <p style="font-size: 16px;"> <b>All accounts </b>
                                          <p> All regions <p>
                              </div>
                        </div>

                        <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                              <div class="icons-actions-2">
                              </div>
                              <div>
                                    <p style="font-size: 16px;"> <b>Action [Pause] </b>
                                          <p> No timeout <p>
                              </div>
                        </div>


                        <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                              <div class="icons-actions-3">
                              </div>
                              <div>
                                    <p style="font-size: 16px;"> <b>Trigger [Schedule] </b>
                                          <p> Fridays at 8am <p>

                              </div>
                        </div>
                  </div>

                  <div class="gs-solid">
                  </div>

                  <div class="row" style="margin-top:20px;">
                        <div style="display:flex">
                              <div>
                                    <p> <b> Labels </b> </p>
                              </div>
                              <div class="gs-chips"> None </div>
                        </div>

                  </div>
            </div>
      </div>
</div>







<div class="card__standard">

      <div class="row">
            <div class="col-md-12" style="padding-left: 0px;">

                  <div class="col-md-12" style="padding-left: 0px;">
                        
<ul class="nav nav-tabs new-tabs slider-tabs" id="tabs" role="tablist" style="left: -20px;">
           
                  <li class="nav-item">
                      <a class="nav-link active show" id="executions-tab" data-toggle="tab" href="#executions" role="tab" aria-controls="executions" aria-selected="true">Executions</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="false">Config</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="changelogs-tab" data-toggle="tab" href="#changelogs" role="tab" aria-controls="changelogs" aria-selected="false">Changelogs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="savings-tab" data-toggle="tab" href="#savings" role="tab" aria-controls="savings" aria-selected="false">Savings</a>
                  </li>
                   <div class="indicator"></div>
              </ul>

             


                        <div class="tab-content">
                              <div class="tab-pane active" id="executions" role="tabpanel"
                                    aria-labelledby="executions-tab">

                                    <div class="well-plain-less" style="padding:20px 14px;" href="#">
                                          <div class="row">

                                                <div class="col-sm-1 align-self-center"
                                                      style="max-width: 2%; padding-left:0px;">
                                                      <div class="gs-oval">
                                                      </div>
                                                </div>
                                                <div class="col-sm-10">
                                                      <p style="font-size: 16px;"><b>2. Upcoming</b></p>
                                                      <p style="font-size: 14px;"> Executing next friday at 8am</p>
                                                </div>

                                                <div class="col-sm-1 align-self-center gs-col-list-custom3">
                                                      <span class="material-icons">
                                                            keyboard_arrow_right
                                                      </span>
                                                </div>

                                          </div>
                                    </div>

                                    <div class="well-plain-less" style="padding:20px 14px;" href="#">
                                          <div class="row">

                                                <div class="col-sm-1 align-self-center"
                                                      style="max-width: 2%; padding-left:0px;">
                                                      <div class="gs-oval" style="background-color: ffab6e;">
                                                      </div>
                                                </div>
                                                <div class="col-sm-10">
                                                      <p style="font-size: 16px;"><b>1. In progress</b></p>
                                                      <p style="font-size: 14px;"> Will run this friday at 8am</p>
                                                </div>

                                                <div class="col-sm-1 align-self-center gs-col-list-custom3">
                                                      <span class="material-icons">
                                                            keyboard_arrow_right
                                                      </span>
                                                </div>

                                          </div>
                                    </div>



                              </div>

                              <div class="tab-pane" id="config" role="tabpanel" aria-labelledby="config-tab">

                                    <div id="config-list">
                                          <ul class="gs-list">
                                                <li style="font-size:16px; font-weight: bold;">Context</li>
                                                <li><b>Platform: </b> AWS </li>
                                                <li><b>Name: </b> Pause machines in the morning </li>
                                                <li><b>Labels selected:</b> None </li>
                                                <li><b>Accounts: </b> All AWS accounts </li>
                                                <li><b>Regions: </b> All AWS Regions </li>
                                          </ul>
                                    </div>

                                    
                                    <div id="config-list">
                                          <ul class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Actions</li>
                                                <li><b>Type:</b> Pause </li>
                                                <li><b>Time out: </b> - </li>
                                                <li><b>Default behaviour expiry: </b> on </li>
                                                <li><b>Use notification defaults: </b> no </li>
                                          </ul>
                                    </div>

                                    <div id="config-list">
                                          <ul class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Trigger</li>
                                                <li><b>Type: </b> Schedule </li>
                                                <li><b>Starts:</b> 08:00am </li>
                                                <li><b>Timezone: </b> (GMT+1) Europe/Dublin </li>
                                          </ul>
                                    </div>

                                    <div id="config-list">
                                          <ul class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Timestamps</li>
                                                <li><b>Created: </b> 1 minute ago </li>
                                          </ul>
                                    </div>

                                    <div id="config-list">
                                          <ul class="gs-list" style="margin-top:32px">
                                                <li style="font-size:16px; font-weight: bold;">Status</li>
                                                <li><b>Enabled: </b> Yes </li>

                                          </ul>
                                    </div>

                              </div>

                              <div class="tab-pane" id="changelogs" role="tabpanel" aria-labelledby="changelogs-tab">

                                    <div class="mt-15">
                                          <table class="gs-table">
                                                <tbody>
                                                
                                                       <tr>
                                                            <td>
                                                                  <div class="row">

                                                                        <div class="col-sm-1 align-self-center"
                                                                              style="max-width: 2%; padding-left:0px;">
                                                                              <div class="gs-oval" style="background-color: 86cea1">
                                                                              </div>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                              <p style="font-size: 16px;"><b>Created</b>
                                                                              </p>
                                                                              <p style="font-size: 14px;"> 1 minute ago
                                                                              </p>
                                                                        </div>

                                                                        <div
                                                                              class="col-sm-1 align-self-center gs-col-list-custom3">
                                                                        </div>

                                                                  </div>
                                                            </td><td></td>

                                                            <td>
                                                                  <div class="row">

                                                                        <div class="col-sm-2">
                                                                              <div class="circle profile-pic-2">
                                                                              </div>
                                                                        </div>
                                                                        <div class="col-sm-4"
                                                                              style="top: 10px;    right: 10px;">
                                                                              Gorilla Stack User
                                                                        </div>
                                                                  </div>
                                                            </td>

                                                      </tr>

                                                </tbody>
                                          </table>
                                    </div>



                              </div>

                              <div class="tab-pane" id="savings" role="tabpanel" aria-labelledby="savings-tab"> 
                                    
                                    <div class="chart-pausesavs"> </div>
                              </div>


                        </div>
                  </div>

            </div>



      </div>

</div>
</div>