<div class="row">

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <div class="card__standard reset-password">
          <span class="material-icons key-icon f-l mr-30">help</span>
          <h3 class="card__standard_headline">Knowledge Base</h3>
          <a class="btn btn-link" href="#">
            Search help articles
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card__standard green-card">
          <span class="material-icons key-icon f-l mr-30">check_circle</span>
          <h3 class="card__standard_headline">System healthy</h3>
          <a class="btn btn-link" href="#">
            View system status
          </a>
        </div>
      </div>
    </div>
    <div class="card__standard">
      <div class="row">
        <div class="col-sm">
          <button class="mdc-button--raised mt-0  mt-15" onclick="#">
            <a class="mdc-button__label">Submit a Ticket</a>
          </button>
          <br>
          <a class="btn btn-link mt-15" href="#"><i class="fa fa-chevron-right"></i> Show search</a>
        </div>
      </div>
    </div>
    <div class="card__standard">
      <div class="row">
        <div class="col-sm">
          <div class="table-responsive mt-15">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Subject </th>
                  <th scope="col">Requester</th>
                  <th scope="col">Last Modified</th>
                  <th scope="col" class="ta-r">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle"></i> Information Needed
                  </td>
                  <th scope="row">Request: Backoffice access equal to Femke</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle"></i> Information Needed
                  </td>
                  <th scope="row">Wrong country flag in exports</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-circle"></i> Resolved
                  </td>
                  <th scope="row">Local Cloud Support phone number is not answered or callback</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle"></i> Information Needed
                  </td>
                  <th scope="row">Request: Backoffice access equal to Femke</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle"></i> Information Needed
                  </td>
                  <th scope="row">Wrong country flag in exports</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-circle"></i> Resolved
                  </td>
                  <th scope="row">Local Cloud Support phone number is not answered or callback</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle"></i> Information Needed
                  </td>
                  <th scope="row">Request: Backoffice access equal to Femke</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-exclamation-circle"></i> Information Needed
                  </td>
                  <th scope="row">Wrong country flag in exports</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-circle"></i> Resolved
                  </td>
                  <th scope="row">Local Cloud Support phone number is not answered or callback</th>
                  <td>Willa Weber</td>
                  <td class="">18/01/2021 12:11</td>
                  <td class="">View</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>