<div class="row">
  <div class="col-lg-12">
    <div class="card__standard">
      <div class="row mt-15">
        <div class="col-sm-6">
          <div class="input-group mb-3 input-lg f-l">
            <input type="text" class="form-control" placeholder="Search Products" aria-label="search"
              aria-describedby="basic-addon2">
          </div>
        </div>
      </div>
      <div class="table-responsive mt-15">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Company Name</th>
              <th scope="col">Category</th>
              <th scope="col">Key</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pickit</td>
              <td>Software & Cloud</td>
              <td>
                <button class="mdc-button" href="#">
                  <div class="mdc-button__ripple"></div>
                  <i class="material-icons mdc-button__icon" aria-hidden="true">vpn_key</i>
                  <span class="mdc-button__label">akjsakjksjakjksajkasas</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>Microsoft 365 Business</td>
              <td>Software & Cloud</td>
              <td>
                <button class="mdc-button" href="#">
                  <div class="mdc-button__ripple"></div>
                  <i class="material-icons mdc-button__icon" aria-hidden="true">vpn_key</i>
                  <span class="mdc-button__label">akjsakjksjakjksajkasas</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>Microsoft Azure Subscription</td>
              <td>Software & Cloud</td>
              <td>
                <button class="mdc-button" href="#">
                  <div class="mdc-button__ripple"></div>
                  <i class="material-icons mdc-button__icon" aria-hidden="true">vpn_key</i>
                  <span class="mdc-button__label">akjsakjksjakjksajkasas</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>