<div class="col-sm-6 float-right margin-0">
    <a class="circle-icon more">
        <div class="circle">
            <span class="material-icons">download</span>
        </div>
        <p>Export</p>
    </a>
    <a class="circle-icon">
        <div class="circle">
            <span class="material-icons">share</span>
        </div>
        <p>Share</p>
    </a>
    <a class="circle-icon">
        <div class="circle">
            <span class="material-icons">help_outline</span>
        </div>
        <p>Help</p>
    </a>
</div>