

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">account_circle</span>
      <h4 class="card__standard_headline">My Account</h4>
      <p class="explainer">Edit contact details or change password</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="cards.html">View</a>
      </button>
    </div>
  </div>
</div>

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">notifications</span>
      <h4 class="card__standard_headline">Notifications</h4>
      <p class="explainer">Create budgets, turn on or off notifications</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="cards.html">Manage</a>
      </button>
    </div>
  </div>
</div>

<hr class="mb-15 mt-15">

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">apartment</span>
      <h4 class="card__standard_headline">Company Profile</h4>
      <p class="explainer">Edit company contacts or view offices</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="cards.html">View</a>
      </button>
    </div>
  </div>
</div>

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">people</span>
      <h4 class="card__standard_headline">Users and permissions</h4>
      <p class="explainer">Add, update users an their access</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="cards.html">Manage users</a>
      </button>
    </div>
  </div>
</div>


<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">done</span>
      <h4 class="card__standard_headline">Purchase Approval Workflows</h4>
      <p class="explainer">Create approval workflows for your team</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" href="#">
        <a class="mdc-button__label">Manage Approval</a>
      </button>
    </div>
  </div>
</div>

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">euro</span>
      <h4 class="card__standard_headline">Currencies</h4>
      <p class="explainer">See your exchange rate</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="cards.html">Manage</a>
      </button>
    </div>
  </div>
</div>


<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">payment</span>
      <h4 class="card__standard_headline">Payment methods</h4>
      <p class="explainer">Manage payment methods, credit cards and bank accounts </p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="cards.html">Manage payment methods</a>
      </button>
    </div>
  </div>
</div>


<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">manage_accounts</span>
      <h4 class="card__standard_headline">Guideded Activiation</h4>
      <p class="explainer">Sign up for and complete your SoftwareONE Service integrations </p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" href="#">
        <a class="mdc-button__label">View Activiations</a>
      </button>
    </div>
  </div>
</div>