

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">account_circle</span>
      <h4 class="card__standard_headline">Account</h4>
      <p class="explainer">Edit Profile details, set langugae, date format, time format</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="">View</a>
      </button>
    </div>
  </div>
</div>

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">notifications</span>
      <h4 class="card__standard_headline">Notifications</h4>
      <p class="explainer">Opt in to notifications</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="">Manage</a>
      </button>
    </div>
  </div>
</div>

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">dark_mode</span>
      <h4 class="card__standard_headline">Theme</h4>
      <p class="explainer">Set light or dark theme</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="">Manage</a>
      </button>
    </div>
  </div>
</div>

<div class="card__standard reset-password mt-15">
  <div class="row">
    <div class="col-sm-7">
      <span class="material-icons key-icon f-l mr-30">shield</span>
      <h4 class="card__standard_headline">Security</h4>
      <p class="explainer">Create / remove personal access token</p>
    </div>
    <div class="col-sm-5">
      <button class="mdc-button--outlined f-r" >
        <a class="mdc-button__label" href="">Manage</a>
      </button>
    </div>
  </div>
</div>












