<!-- Horizontal Steppers -->
<div class="row">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal stepper-five">

      <!-- First Step -->
      <li class="completed">
        <a href="#!" class="">
          <span class="circle">1</span>
          <span class="label">Address</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Second Step -->
      <li class="completed">
        <a href="#!" class="">
          <span class="circle">2</span>
          <span class="label">Billing</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Third Step -->
      <li class="completed">
        <a href="#!" class="">
          <span class="circle">3</span>
          <span class="label">Items</span>
          <div class="lines"></div>
        </a>
      </li>

      <!-- Forth Step -->
      <li class="completed">
        <a href="#!" class="">
          <span class="circle">4</span>
          <span class="label">Payment</span>
        </a>
      </li>

      <!-- Fifth Step -->
      <li class="inactive stepper-five">
        <a href="#!" class="">
          <span class="circle">5</span>
          <span class="label">Review</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>
<!-- /.Horizontal Steppers -->