  <div class="card__standard" style="height:1000px;padding:">

      <div class="row " style="top: -40px;position: relative;">
          <div class="col-md-12">
                  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">   
                    {% include "partials/_users_grid.html.njk" %} 
           </div>  
              </div>

              {# <script>
                  $(function () {
                      $('#myTab li:last-child a').tab('show')
                  })
              </script> #}
              </ul>
          </div>
      </div>