
<h4 class="dash-title">Most <a class="btn btn-link" href="#">popular</a></h4>
<div class="row">
    <div class="col-md-3">
        <div class="card__standard mt-15">
            <img src="images/mcafee-vert.png" class="img-fluid">
        </div>
    </div>
    <div class="col-md-3">
        <div class="card__standard mt-15">
            <img src="images/autodesk-vert.png" class="img-fluid">
        </div>
    </div>
    <div class="col-md-3">
        <div class="card__standard mt-15">
            <img src="images/mcafee-vert.png" class="img-fluid">
        </div>
    </div>
    <div class="col-md-3">
        <div class="card__standard mt-15">
            <img src="images/autodesk-vert.png" class="img-fluid">
        </div>
    </div>
</div>
<h4 class="dash-title">Buy it again</h4>
<div class="row  mt-15">
    <div class="col-lg-4">
        <div class="card__standard__products product-card-swo">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images/office-logo.jpg" class="card-logo">
                </div>
                <div class="col-sm-7">
                    <h4 class="mt-5 mb-5" onclick="location.href = 'product-details.html';">Microsoft 365
                        Business</h4>
                    <p class=""><small>By Microsoft</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-15  button-section-left">
                    <p class=""><small>Price per unit</small></p>
                    <h4 class=""><b>16.50 USD</b></h4>
                </div>
                <div class="col-sm-6  button-section-right">
                    <button class="mdc-button--outlined f-r" onclick="location.href = 'create-order-tenant.html';">
                        <a class="mdc-button__label">Add to cart</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card__standard__products product-card-swo">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images/azure-logo.png" class="card-logo">
                </div>
                <div class="col-sm-7">
                    <h4 class="mt-5 mb-5" onclick="location.href = 'product-details.html';">Microsoft Azure
                        Subscription</h4>
                    <p class=""><small>By Microsoft</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-15  button-section-left">
                    <p class=""><small>Price per unit</small></p>
                    <h4 class=""><b>1.1 USD</b></h4>
                </div>
                <div class="col-sm-6  button-section-right">
                    <button class="mdc-button--outlined f-r" onclick="location.href = 'create-order-tenant.html';">
                        <a class="mdc-button__label">Add to cart</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card__standard__products product-card-swo">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images/softwareone.png" class="card-logo">
                </div>
                <div class="col-sm-7">
                    <h4 class="mt-5 mb-5">Security for Azure</h4>
                    <p class=""><small>By SoftwareONE</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-15  button-section-left">
                    <p class=""><small>Price per unit</small></p>
                    <h4 class=""><b>80.00 USD</b></h4>
                </div>
                <div class="col-sm-6  button-section-right">
                    <button class="mdc-button--outlined f-r" href="#">
                        <a class="mdc-button__label">Add to cart</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card__standard mt-15">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mb-15">Components</h4>
                    <a class="btn btn-link" href="basic-grid-page.html">Basic Grid</a>
                    <br>
                    <a class="btn btn-link" href="advanced-grid-page.html">Advanced Grid</a>
                    <br>
                    <a class="btn btn-link" href="cards-page.html">Cards</a>
                    <br>
                    <a class="btn btn-link" href="form-page.html">Form</a>
                    <br>
                    <a class="btn btn-link" href="navigation-page.html">Navigation</a>
                    <br>
                    <a class="btn btn-link" href="report-page.html">Report</a>
                    <br>
                    <a class="btn btn-link" href="results-page.html">Results</a>
                    <br>
                    <a class="btn btn-link" href="products-page.html">Products</a>
                    <br>
                    <a class="btn btn-link" href="modals-page.html">Modals</a>
                    <hr>
                    <h4 class="mb-15">Interactions</h4>
                    <a class="btn btn-link" href="jquery-page.html">JQuery cheatsheet</a>
                    <hr>
                    <h4 class="mb-15">Useful Links</h4>
                    <a class="btn btn-link" target="_blank"
                        href="https://getbootstrap.com/docs/4.0/components/buttons/"><i
                            class="fa fa-external-link-alt"></i> Bootstrap components</a>
                    <br>
                    <a class="btn btn-link" target="_blank" href="https://material.io/"><i
                            class="fa fa-external-link-alt"></i>
                        Material components</a>
                    <br>
                    <a class="btn btn-link" target="_blank"
                        href="https://material.io/resources/icons/?style=baseline"><i
                            class="fa fa-external-link-alt"></i> Material Icons</a>
                    <br>
                    <a class="btn btn-link" target="_blank" href="https://fontawesome.com/"><i
                            class="fa fa-external-link-alt"></i> Font Awesome Icons</a>
                    <hr>
                    <h4 class="mb-15">Help</h4>
                    <a class="btn btn-link" target="_blank"
                        href="https://softwareone-pc.visualstudio.com/PyraCloud/_wiki/wikis/PyraCloud.wiki/108/HTML"><i
                            class="fa fa-external-link-alt"></i> HTML Wiki</a>
                    <br>
                    <a class="btn btn-link" target="_blank"
                        href="https://softwareone-pc.visualstudio.com/PyraCloud/_wiki/wikis/PyraCloud.wiki/878/HTML-UX-Training-Session"><i
                            class="fa fa-external-link-alt"></i> HTML: UX Training Session wiki</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>