<div class="col-md-12">
  <div class="gs-accordion" id="accordionExample">

    <div class="gs-acc-first">
      <div class="gs-card-header" id="headingOne">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            
            <div class="row">
              <i class="col-sm-1 fa fa-chevron-down"></i>
              <div id="accordion-break" class="col-sm-1 align-self-center gs-col-list-custom2">
                <div class="gs_azure-logo">
                </div>
              </div>
              <div class="col-sm-5">
                <h4><b>Start-Non-Prod Mongob env at 9am weekdays</b></h4>
                <p><b>Azure -</b> Ran 1 months ago</p>
              </div>
            </div>
          </button>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="gs-card-body">
          hola
          <code>.show</code> class.
        </div>
      </div>

    </div>

    <div class="gs-acc">
      <div class="gs-card-header" id="headingTwo">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="row">
              <i class="col-sm-1 fa fa-chevron-down"></i>
              <div id="accordion-break" class="col-sm-1 align-self-center gs-col-list-custom2">
              </div>
              <div class="accordion-title">
                <h4><b>Trigger &nbsp</b></h4><p><b>Schedule &nbsp</b></p> <p>09.00 on Fridays</p>
              </div>
            </div>
          </button>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="gs-card-body">
          Some placeholder content for the second accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>

    

  </div>
</div>