<div class="row mt-30">



    {# workspace 1 #}
    <div class="card-workspaces mb-15 mr-3 home-click">

        <div class="row">
            <div class="col-md-3">
                <span class="square-initials">CT</span>
            </div>
            <div class="col-md-6" style="right:44px">
                <h4>Cloud Team</h4>
            </div>
            <div class="col-md-3">

            </div>

        </div>

        <div class="row mt-15">
            <div class="col-sm-1">
                <div class="circle profile-pic">

                </div>
            </div>
            <div class="col-sm-1">
                <div class="circle profile-pic-1">

                </div>
            </div>
            <div class="col-sm-1">
                <div class="circle profile-pic-2">

                </div>
            </div>
            <div class="col-sm-1">
                <div class="circle profile-pic-3">

                </div>
            </div>


        </div>


        {# applications #}
        <div class="row mt-15 f-r ">

            {#  <div class="col-md-2">
                <span class="material-icons">apps</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">pie_chart</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">wrap_text</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">bolt</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">
                    dialpad</span>
            </div> #}
            <div class="dropdown  f-r">
                <button class="mdc-button" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">

                    <i class="material-icons mdc-button__icon" aria-hidden="true" style="font-size: 24px;">apps</i>


                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="allocate.html">Allocate</a>
                    <a class="dropdown-item" href="analyze.html">Analyze</a>
                    <a class="dropdown-item" href="chargeback.html">Chargeback</a>
                    <a class="dropdown-item" href="rules.html">Rules</a>
                    <a class="dropdown-item" href="event-tracking.html">Event Tracking</a>
                </div>
            </div>

        </div>

    </div>

    <div class="card-workspaces mb-15 mr-3 home-click">

        <div class="row">
            <div class="col-md-3">
                <span class="square-initials">AT</span>
            </div>
            <div class="col-md-6" style="right:44px">
                <h4>AWS Team</h4>
            </div>
            <div class="col-md-3">

            </div>

        </div>

        <div class="row mt-15">

            <div class="col-sm-1">
                <div class="circle profile-pic-3">

                </div>
            </div>
            <div class="col-sm-1">
                <div class="circle profile-pic-4">

                </div>
            </div>
            <div class="col-sm-1">
                <div class="circle profile-pic-5">

                </div>
            </div>


        </div>


        {# applications #}
       <div class="row mt-15 f-r ">

            {#  <div class="col-md-2">
                <span class="material-icons">apps</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">pie_chart</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">wrap_text</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">bolt</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">
                    dialpad</span>
            </div> #}
            <div class="dropdown  f-r">
                <button class="mdc-button" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">

                    <i class="material-icons mdc-button__icon" aria-hidden="true" style="font-size: 24px;">apps</i>


                </button>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="allocate.html">Allocate</a>
                    <a class="dropdown-item" href="analyze.html">Analyze</a>
                    <a class="dropdown-item" href="chargeback.html">Chargeback</a>
                    <a class="dropdown-item" href="rules.html">Rules</a>
                    <a class="dropdown-item" href="event-tracking.html">Event Tracking</a>
                </div>
            </div>

        </div>

    </div>

    {# workspace 3 #}
    <div class="card-workspaces mb-15 home-click">

        <div class="row">
            <div class="col-md-3">
                <span class="square-initials">F</span>
            </div>
            <div class="col-md-6" style="right:44px">
                <h4>FinOps</h4>
            </div>
            <div class="col-md-3">

            </div>

        </div>

        <div class="row mt-15">
            <div class="col-sm-1">
                <div class="circle profile-pic-3">

                </div>
            </div>
            <div class="col-sm-1">
                <div class="circle profile-pic-4">

                </div>
            </div>


        </div>


        {# applications #}
        <div class="row mt-15 f-r ">

            {#  <div class="col-md-2">
                <span class="material-icons">apps</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">pie_chart</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">wrap_text</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">bolt</span>
            </div>
            <div class="col-md-2">
                <span class="material-icons">
                    dialpad</span>
            </div> #}
            <div class="dropdown  f-r">
                <button class="mdc-button" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">

                    <i class="material-icons mdc-button__icon" aria-hidden="true" style="font-size: 24px;">apps</i>


                </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="allocate.html">Allocate</a>
                    <a class="dropdown-item" href="analyze.html">Analyze</a>
                    <a class="dropdown-item" href="chargeback.html">Chargeback</a>
                    <a class="dropdown-item" href="rules.html">Rules</a>
                    <a class="dropdown-item" href="event-tracking.html">Event Tracking</a>
                </div>
            </div>

        </div>

    </div>

</div>