  <div class="shell-footer">
    <div class="footer-menu">
         <div class="row branding">
          <div class="col-sm-3 mb-15">
            <img src="images/swo-logo.png" class="img-repsonsive">
          </div>
          <div class="col-lg-6 mb-15 tag">
            <h5>We Empower Companies to Transform.</h5>
          </div>
          <div class="col-lg-3 mb-15">
            <i class="fa fa-envelope fontawesome-xs" style="font-size: 18px;" aria-hidden="true"></i>
            <i class="fa fa-linkedin" style="font-size: 18px;" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" style="font-size: 18px;" aria-hidden="true"></i>
            <i class="fa fa-facebook-official" style="font-size: 18px;" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-15">
            <p><b>Company Information</b></p>
            <p>SoftwareONE’s 3000+ technology consultants across 145 countries help customers optimize their software spend by ensuring their IT investments are cost-effectively roadmapped from a compliance , commercial, and technical perspective through our comprehensive Software Portfolio Management methodology.</p>
          </div>
          <div class="col-lg-3 mb-15">
            <p><b>Useful Links</b></p>
            <ul>
              <li><a href="#" class="footer-menu__link">About Us</a></li>
              <li><a href="#" class="footer-menu__link">Privacy Statement</a></li>
              <li><a href="#" class="footer-menu__link">Imprint</a></li>
              <li><a href="#" class="footer-menu__link">Code of Conduct</a></li>
              <li><a href="#" class="footer-menu__link">Conditions</a></li>
            </ul>
          </div>
          <div class="col-lg-3 mb-15">
            <p><b>Contact</b></p>
            <p>SoftwareONE Deutschland GmbH<br>
              Konrad-Zuse-Platz 2<br>
              Munich, D 81829<br>
              Germany<br>
              Email: info.de@softwareone.com<br>
              Phone: (+) 49-71313820300
            </p>
          </div>
        </div>
         <div class="row appgallop">
          <div class="col-sm-12 mb-15">
            <p>Powered by: <a class="btn btn-link">AppGallop</a></p>
          </div>
    </div>
  </div>


