.circle-icon {
  padding: 10px 10px;
  float: right;
  display: inline;
  width: 100px;
}

.circle-icon p {
 text-align: center;
 margin-top: 5px;
 font-size: 12px;
 color: #5a616b;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  background-color: white;
  color: #5a616b;
  padding: 8px;
  margin: 0 auto;
}

.stepper .circle {
  padding: 0px;
}

.circle-icon:hover {
  background-color: #e6f1fc;
  color: #0271e0;
  cursor: pointer;
}

.input-main .form-control {
  height: 40px;
  width: 574px;
  background-color: #e6f1fc;
  border: 2px solid #0271e0;
  padding: 10px 20px;
  z-index: 0;
  margin-top: 14px;
  margin-left: 30px;
}

.input-main .form-control::-webkit-input-placeholder {
  color: #81b8f0;
  font-size: 16px;
}

.dash-title {
  margin-top: 15px;
  color: #849198;
  font-size: 18px;
  font-weight: 500;
}

.dash-title a {
  font-size: 18px;
}

.publisher-cards .card__standard {
  height: 80px;
}

img.responsive {
  width: 90%;
  height: auto;
  max-height: 40px;
}

.more-tasks .card__standard {
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 80px;
  width: 350px;
}

.checkout {
  background-color: #fff;
}

.checkout .shell-top {
  display: none;
}

.checkout .card__standard {
  box-shadow: none;
}

.checkout .shell-checkout {
  display: inline !important;
}

.checkout .well-plain-shadow {
  position: fixed;
  width: calc(26%);
  z-index: 2;
  right: 15px;
  top: 240px;
}

.credit_cards .well__plain {
  padding: 25px 25px 10px 25px;
}

.credit_cards .well__plain img {
  padding: 15px 15px 15px 10px;
  margin-right: 15px;
  float: left;
  height: 50px;
  border: 1px solid #e8eaed;
}

.credit_cards .well {
  padding: 13px 30px 15px 30px;
  margin-right: 15px;
  float: left;
  height: 50px;
  width: 85px;
  border-radius: 1px;
}

.credit_cards hr {
  margin: 20px -20px 10px -20px;
}

.border-red {
  border: 1px solid red;
}

.border-green {
  border: 3px dashed greenyellow;
}

.border-blue {
  border: 3px dashed blue;
}

.border-orange {
  border: 3px dashed orange;
}


.margin-0 {
  margin: 0%;
  padding: 0%;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.card-new {
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgb(96 97 112 / 16%), 0 2px 4px 0 rgb(40 41 61 / 4%);
  background-color: #fff;
  border-radius: 12px;
  width: 100%;


}

.card-top-blue {
  border-radius: 12px 12px 0px 0px;
  color: #014486;
  font-size: 14px;

  background: #f1f6fa;
}

.card-top-blue span {
  color: #014486;

}

.card-new > div {
  padding: 6px;

}

.card-new p {
  height: 60px;
}

.action-list {
  height: 540px;
}


.rules-box {
  border-radius: 10px;
  border: 1px solid #ECF1F7;
  padding: 20px;
}

/*
@media screen and (min-width: 1620px) {

  .container {
      width: 1600px !important;
      border: 1px solid gray;
  }
}

@media screen and (max-width: 1820px) {

  .container {
      width: 1600px !important;
      border: 1px dotted gray;
  }
}

@media only screen and (min-width : 1200px) {

  .container { width: 1500px;
    border: 1px dotted gray;
  }

} */

#nav_search {
  width: 80%;
  margin: 0 auto;
  border: 2px dashed red;
}