{# page variables #}
{% set page_title = "Company Structure" %}

{% extends "index_account.njk"%}

{% block content %}

  <div class="row">
    <div class="col-sm-6">
      <div id="breadcrumb" class="mb-10" style="padding-left: 0px; margin-top: 30px;">
        <span class="youarehere"></span>
        <span class="breadcrumb-text">
          <a href="index.html" class="breadcrumb-active"></a>
          <span class="breadcrumb-text">
            <a href="master_page_location" class="breadcrumb-active">
              {{master_page_name}}</a>/
            <span class="breadcrumb-current-page">
              {{page_title}}
            </span>
          </span>
        </span>
      </div>
    </div>
    {% include "partials/_page_actions.njk" %}
  </div>

  <div class="card__standard">
    <h4>"Select some details" card</h4>
    <div class="row mt-30">
      <div class="col-sm-4">
        <div class="well__plain">
          <h4>
            <b>Tango-US</b>
          </h4>
          <p>4530 Leckron Road</p>
          <p>Alameda</p>
          <p>95357, 95357</p>
          <p>United State</p>
          <br>
          <p>Tango-US</p>
          <p>P: 9910900848</p>
          <p>E: tango-us@pdtest.com</p>
          <br>
          <button class="mdc-button--raised btn-block mt-0  mt-15" href="#">
            <a class="mdc-button__label">Use as billing details</a>
          </button>
          <button class="mdc-button mt-15">
            <div class="mdc-button__ripple"></div>
            <i class="material-icons mdc-button__icon" aria-hidden="true">edits</i>
            <span class="mdc-button__label">Edit</span>
          </button>
        </div>
      </div>
    </div>
    <h4 class="mt-30 mb-15">Simple action card</h4>
    <div class="well__plain">
      <form class="mt-0">
        <div class="form-group">
          <h4>
            <b>Add new customer</b>
          </h4>
        </div>
      </form>
      <form class="mt-0">
        <div class="form-group">
          <label for="staticEmail" class="form-label">To start selling products to a new customer you will need
          to add an end-customers Microsoft Account domain.</label>
        </div>
      </form>
      <button class="mdc-button--outlined mt-0  mt-15" onclick="location.href = 'add-customer.html';">
        <a class="mdc-button__label">Add customer</a>
      </button>
    </div>
  </div>
  <h4 class="mt-30 mb-15">Summary action card</h4>
  <div class="row">
    <div class="col-sm-4">
      <div class="card__standard">
        <h4>Subtotal (1 item): <b>15.40 EUR</b>
        </h4>
        <hr class='mt-15 mb-15'>
        <p>Customer Details</p>
        <form class="mt-15">
          <div class="form-group">
            <label for="staticEmail" class="form-label">Cusstomer</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Tango-US">
          </div>
        </form>
        <form class="mt-15">
          <div class="form-group">
            <label for="staticEmail" class="form-label">Tenant</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="tangotest-us">
          </div>
        </form>
        <form class="mt-0">
          <div class="form-group">
            <label for="staticEmail" class="form-label">Microsoft Customer ID</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="87987987979879">
          </div>
        </form>
        <button class="mdc-button--raised btn-block mt-0" onclick="location.href = 'create-order-tenant.html';">
          <a class="mdc-button__label">Continue</a>
        </button>
      </div>
    </div>
  </div>

  <h4 class="mt-30 mb-15">Description card</h4>
  <div class="row">
    <div class="col-sm-9">
      <div class="card__standard">
        <div class="row">
          <div class="col-sm-9 status">
            <h3>Azure Active Directory Premium P2</h3>
          </div>
        </div>
        <div class="row mt-30">
          <div class="col-sm-4">
            <form>
              <div class="form-group">
                <label for="staticEmail" class="form-label">Quantity</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="5">
              </div>
            </form>
          </div>
          <div class="col-sm-4">
            <form>
              <div class="form-group">
                <label for="staticEmail" class="form-label">Start Date</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="2020-03-30">
              </div>
            </form>
          </div>
          <div class="col-sm-4">
            <form>
              <div class="form-group">
                <label for="staticEmail" class="form-label">Last Modified Date</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="2020-03-30 20:48:00.0">
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <form>
              <div class="form-group">
                <label for="staticEmail" class="form-label">Renew Price</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="15.50 EUR">
              </div>
            </form>
          </div>
          <div class="col-sm-4">
            <form>
              <div class="form-group">
                <label for="staticEmail" class="form-label">Renewal Date</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="2021-03-30">
              </div>
            </form>
          </div>
          <div class="col-sm-4">
            <form>
              <div class="form-group">
                <label for="staticEmail" class="form-label">Renewal In</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="321 Days">
              </div>
            </form>
          </div>
        </div>
        <hr class="mt-0 mb-30">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="staticEmail" class="form-label">Customer Details</label>
              <br>
              <button class="mdc-button" onclick="location.href = 'customer-profile-setup-4.html';">
                <span class="mdc-button__label">
                  <b>Tango US </b>
                </span>
              </button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="staticEmail" class="form-label">Domain</label>
              <p class="">tangotest-us.onmicrosoft.com</p>
              <p>
                <small>MSID: 87987987979879</small>
              </p>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card__standard">
        <h4>Update Quantities
        <div class="dropdown dropleft f-r">
            <button class="mdc-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              <span class="material-icons">more_vert</span>
            </button>
            <div class="dropdown-menu f-r" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Suspend Subscription<br>
                <small>Subscriptions will<br>automatically expire
                if you don't<br>reactivate before the expiry date.</small>
              </a>
            </div>
          </div>
        </h4>
        <br>
        <label for="exampleInputEmail1">
          <p>Quantity</p>
        </label>
        <div class="input-group mb-3 w-25">
          <input type="number" class="form-control" id="subscription-qty-input" placeholder="Username"
          aria-label="Username" aria-describedby="basic-addon1" value="5">
        </div>
        <div id="subscription-quatity-indicator" style="display: none;" class="row">
          <div class="col-sm">
            <p class="increase-update">
              <span class="material-icons">arrow_upward</span>
              <small>
                <span id="change-quantity">+1</span></small>
            </p>
          </div>
        </div>
        <div id="subscription-buy-button" style="display: none;">
          <button class="mdc-button--raised mt-30" onclick="location.href = 'order-payments.html';">
            <a class="mdc-button__label">Continue to Payment</a>
          </button>
        </div>
        <div id="subscription-update-button" style="display: none;">
          <button class="mdc-button--raised mt-30" type="button" data-toggle="modal" data-target="#exampleModal">
            <a class="mdc-button__label">Update Quantities</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <h4 class="mt-30 mb-15">CRUD(L) card</h4>
  <div class="card__standard">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="card__standard_headline">Role assignments<br>
          <small>Grant access to Azure resources by assigning roles
          to users.</small>
        </h4>
      </div>
      <div class="col-sm-6">
        <button class="mdc-button mt-15 f-r" onclick="location.href = 'add-role.html';">
          <div class="mdc-button__ripple"></div>
          <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
          <span class="mdc-button__label">Assign Role</span>
        </button>
      </div>
    </div>
    <div class="row mt-15">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Role</th>
                <th scope="col" class="ta-r">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                Adelle
                <br>
                  <small>addelle.smyth@adastarfle.com</small>
                </th>
                <td>Owner</td>
                <td>
                  <button class="mdc-button f-r">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i>
                    <span class="mdc-button__label">Delete</span>
                  </button>
                  <button class="mdc-button f-r">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">edit</i>
                    <span class="mdc-button__label">Edit</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <h4 class="mt-30 mb-15">Profile card</h4>
  <div class="row mt-5">
    <div class="col-lg-4">
      <div class="card__standard contact-card">
        <img src="images/paul.jpg" class="profile-photo">
        <h4>Paul O'Connor</h4>
        <p class="mb-15">
          <small>Business Development Manager</small>
        </p>
        <ul class="mdc-list">
          <li class="mdc-list-item" tabindex="0">
            <span class="material-icons">email</span>
            <span class="mdc-list-item__text">paul.oconnor@softwareone.com</span>
          </li>
          <li class="mdc-list-item">
            <span class="material-icons">phone</span>
            <span class="mdc-list-item__text">+44 86 728 1828</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card__standard contact-card">
        <img src="images/kim.jpg" class="profile-photo">
        <h4>Kimberly Smith</h4>
        <p class="mb-15">
          <small>Channel Sales and Marketing Leader NORAM</small>
        </p>
        <ul class="mdc-list">
          <li class="mdc-list-item" tabindex="0">
            <span class="material-icons">email</span>
            <span class="mdc-list-item__text">kimberly.smith@softwareone.com</span>
          </li>
          <li class="mdc-list-item">
            <span class="material-icons">phone</span>
            <span class="mdc-list-item__text">+44 86 728 1828</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h4 class="mt-15">Report cards</h4>
  <div class="row  mt-15">
    <div class="col-sm-4 tiles">
      <div class="card__standard" style="padding: 30px 30px 15px 30px;">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-0">22,989 USD</h3>
            <p>
              <small>Total Sales</small>
            </p>
          </div>
          <div class="col-lg-6">
            <div class="bar-84"></div>
            <div class="bar-70"></div>
            <div class="bar-75"></div>
            <div class="bar-81"></div>
            <div class="bar-64"></div>
            <div class="bar-53"></div>
          </div>
        </div>
        <div class="button-area">
          <hr class="mb-10">
          <button class="mdc-button mt-0 btn-block" onclick="location.href = 'analyze-sales.html';">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Analyze Sales</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <h4 class="mt-15">Product cards</h4>
  <div class="row  mt-15">
    <div class="col-sm-4">
      <div class="card__standard__products product-card-swo">
        <div class="row">
          <div class="col-sm-3">
            <img src="images/office-logo.jpg" class="card-logo">
          </div>
          <div class="col-sm-7">
            <h4 class="mt-5 mb-5" onclick="location.href = 'product-details.html';">Microsoft 365 Business</h4>
            <p class="">
              <small>By Microsoft</small>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-15  button-section-left">
            <p class="">
              <small>Price per unit</small>
            </p>
            <h4 class="">
              <b>16.50 USD</b>
            </h4>
          </div>
          <div class="col-sm-6  button-section-right">
            <button class="mdc-button--outlined f-r" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Add to cart</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card__standard__products product-card-swo">
        <div class="row">
          <div class="col-sm-3">
            <img src="images/azure-logo.png" class="card-logo">
          </div>
          <div class="col-sm-7">
            <h4 class="mt-5 mb-5" onclick="location.href = 'product-details.html';">Microsoft Azure Subscription</h4>
            <p class="">
              <small>By Microsoft</small>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-15  button-section-left">
            <p class="">
              <small>Price per unit</small>
            </p>
            <h4 class="">
              <b>1.1 USD</b>
            </h4>
          </div>
          <div class="col-sm-6  button-section-right">
            <button class="mdc-button--outlined f-r" onclick="location.href = 'create-order-tenant.html';">
              <a class="mdc-button__label">Add to cart</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card__standard__products product-card-swo">
        <div class="row">
          <div class="col-sm-3">
            <img src="images/softwareone.png" class="card-logo">
          </div>
          <div class="col-sm-7">
            <h4 class="mt-5 mb-5">Security for Azure</h4>
            <p class="">
              <small>By SoftwareONE</small>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-15  button-section-left">
            <p class="">
              <small>Price per unit</small>
            </p>
            <h4 class="">
              <b>80.00 USD</b>
            </h4>
          </div>
          <div class="col-sm-6  button-section-right">
            <button class="mdc-button--outlined f-r" href="#">
              <a class="mdc-button__label">Add to cart</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="mt-30 mb-15">Insights card</h4>
  <div class="item-overview ">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="mb-10">BackupSimple</h3>
      </div>
      <div class="col-lg-6">
        <a class="btn btn-primary f-r" href="backupsimple1.html">View sales lead</a>
        <a
        class="btn btn-confidence f-r" href="#" data-toggle="popover" data-placement="bottom" data-trigger="hover"
        data-html="true"
        data-content="<h2 class='ta-c'>80%<br><p>Confidence Score</p></h2><hr><p>How is confidence calculated?<br><small>Confidence is calculated based on the number of data sources, weight of the evidence and trends.</small></p>">80%</a>
      </div>
    </div>
    <div class="level-up"><img src="images/okay.png" class="level">
      <p>Easy to sell </p>
    </div><br><br>
    <p class="mb-5 mt-5">
      <b>Pricing Structure:</b> It's a base price on average + we are adding an uplift.</p>
    <p class="mb-15">A successful future workplace transformation requires a combination of people, process and technology
    working together to enable change. Leveraging today’s leading technology platform - Microsoft 365 - SoftwareONE will
    enable you to maximize the productivity of your employees.Ensuring your data is backed-up and available becomes
    increasingly complex as your business expands to include on-premises and multiple cloud service providers. </p>
    <p>
      <small>Reasons for match</small>
    </p>
    <div class="">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled">
            <li>Oracle database found</li>
            <li>Microsoft SQL Server found</li>
            <li>Microsoft Office365 found</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-30 feedback">
      <div class="col-sm-12">
        <i class="fa fa-thumbs-up"></i>
        <a href="#" data-toggle="tooltip"
        title="This customer has 2 users who registered their interest in this service using PyraCloud: will.smith@eircom.com, una.smith@eircom.com.">2</a>
        <i class="fa fa-thumbs-down"></i>
        <a href="#" data-toggle="tooltip"
        title="This service recommendation has not been dismissed by anyone in the company who uses PyraCloud.">0</a>
      </div>
    </div>
  </div>
  <h4 class="mt-30 mb-15">"Edit something" card</h4>
  <div class="customer-profile">
    <div class="card__standard profile-readonly">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="card__standard_headline">Profile</h4>
        </div>
        <div class="col-sm-6">
          <button class="mdc-button f-r" onclick="editmode_customer()">
            <div class="mdc-button__ripple"></div>
            <i class="material-icons mdc-button__icon" aria-hidden="true">edits</i>
            <span class="mdc-button__label">Edit</span>
          </button>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col-sm-6">
          <div class="profile-photo-update">
            <span class="material-icons" id="user_image">account_circle</span>
          </div>
          <form>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </form>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4">
              <form>
                <div class="form-group">
                  <label for="staticEmail" class="form-label">Name</label>
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Will Smith">
                </div>
              </form>
            </div>
            <div class="col-sm-4">
              <form>
                <div class="form-group">
                  <label for="staticEmail" class="form-label">Email</label>
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                  value="will.smith@adastraflex.com">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <form>
                <div class="form-group">
                  <label for="staticEmail" class="form-label">Phone</label>
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="9910900848">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <form>
                <div class="form-group">
                  <label for="staticEmail" class="form-label">Address</label>
                  <input type="text" readonly class="form-control-plaintext pb-0" id="staticEmail"
                  value="4530 Leckron Road">
                  <input type="text" readonly class="form-control-plaintext p-0" id="staticEmail" value="Alameda">
                  <input type="text" readonly class="form-control-plaintext p-0" id="staticEmail" value="Georgia 95357">
                  <input type="text" readonly class="form-control-plaintext p-0" id="staticEmail" value="United Stated">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card__standard profile-edit" style="display: none;">
      <div class="row mb-30">
        <div class="col-sm-6">
          <div class="profile-photo-update">
            <span class="material-icons" id="user_image">account_circle</span>
          </div>
          <form>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </form>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4">
              <label class="mdc-text-field mdc-text-field--outlined">
                <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" value="Will Smith">
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id"></span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
              </label>
            </div>
            <div class="col-sm-4">
              <label class="mdc-text-field mdc-text-field--outlined">
                <input type="text" class="mdc-text-field__input input-md" aria-labelledby="my-label-id"
                value="will.smith@adastraflex.com">
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id"></span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label class="mdc-text-field mdc-text-field--outlined">
                <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" value="9910900848">
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id"></span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <form>
                <div class="form-group">
                  <label class="mdc-text-field mdc-text-field--outlined input-100">
                    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id"
                    value="530 Leckron Road">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="my-label-id"></span>
                      </span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                  </label>
                  <label class="mdc-text-field mdc-text-field--outlined input-100">
                    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" value="Alameda">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="my-label-id"></span>
                      </span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                  </label>
                  <label class="mdc-text-field mdc-text-field--outlined input-100">
                    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" value="Georgia">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="my-label-id"></span>
                      </span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                  </label>
                  <label class="mdc-text-field mdc-text-field--outlined">
                    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" value="95357">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="my-label-id"></span>
                      </span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                  </label>
                  <label class="mdc-text-field mdc-text-field--outlined input-100">
                    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" value="United Stated">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="my-label-id"></span>
                      </span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-15">
        <div class="col-sm-12">
          <button class="mdc-button--raised" onclick="editmode_customer()">
            <a class="mdc-button__label">Save Changes</a>
          </button>
          <button class="mdc-button--outlined ml-15" onclick="editmode_customer()">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <h4 class="mt-30 mb-15">Icon card</h4>
  <div class="card__standard reset-password">
    <div class="row">
      <div class="col-sm-7">
        <span class="material-icons key-icon f-l mr-30">vpn_key</span>
        <h4 class="card__standard_headline">Change password</h4>
        <p class="explainer">Reset a password on behalf of your customer.</p>
      </div>
      <div class="col-sm-5">
        <button class="mdc-button--raised f-r" href="#">
          <a class="mdc-button__label">Reset Password</a>
        </button>
      </div>
    </div>
  </div>
  <h4 class="mt-30 mb-15">Tasks card</h4>
  <div class="card__standard">
    <h5 class="card__standard_headline">What would you like to do?</h5>
    <div class="row">
      <div class="col-sm">
        <a class="button__circle" href="all-products.html"><img src="images/tasks-buy-software.png"
          class="img-responsive">Buy<br>software</a>
        <a class="button__circle" href="add-customer.html"><img src="images/tasks-add-customer.png"
          class="img-responsive">Add a customer</a>
        <a class="button__circle" href="customers.html"><img src="images/tasks-view-customers.png"
          class="img-responsive">View Customers</a>
        <a class="button__circle" href="orders.html"><img src="images/tasks-track-order.png" class="img-responsive">Track
        an order</a>
        <a class="button__circle" href="my-subscriptions.html"><img src="images/tasks-view-subcription.png"
          class="img-responsive">Customer Subscriptions</a>
      </div>
    </div>
    <div class="row"></div>
  </div>

  {% endblock %}