{# page variables #}
{% set master_page_location = "index_assets.html" %}
{% set master_page_name = "Home" %}
{% set page_actions = false %}

{# page layout #}
<head>
  {% block header %}
    {% include "./page_components/_head.html.njk" %}
  {% endblock %}
</head>
<body>
<div class="shell-container">
  <div class="content-container"></div>

  {# top menu #}
  {% include "./page_components/menus/_menu_top_assets.njk" %}

  {# this is the side menu #}
  {% include "./page_components/menus/_menu_side_assets.njk" %}

  <section class="gap"></section>
  <div class="container">
  <div class="shell-container">
    <div class="content-container"></div>

      <div class="row">
      <!-- This is where the page begins -->
        <div class="card">

          {% block content %}

            {# any content goes here #}
            {% include "partials/_grid_advanced.html.njk"%}}

          {% endblock %}

        </div>
      </div>
    </div>

    {% include "./page_components/_footer.html.njk" %}

</div>
</body>
{% include "./page_components/_scripts.html.njk" %}
